@font-face {
    font-family: 'entypo';
    src: url('http://demobase.oss.aliyuncs.com/assets/entypo.eot');
    src: url('http://demobase.oss.aliyuncs.com/assets/entypo.eot?#iefix') format('embedded-opentype'),
         url('http://demobase.oss.aliyuncs.com/assets/entypo.woff') format('woff'),
         url('http://demobase.oss.aliyuncs.com/assets/entypo.ttf') format('truetype'),
         url('http://demobase.oss.aliyuncs.com/assets/entypo.svg#entypo') format('svg');
    font-weight: normal;
    font-style: normal;
}

.entypo-icon {
    font-family: 'entypo';
    font-style: normal;
    font-weight: normal;
}
