<div ng-controller="AttendanceCtrl">
    <h1>
        上课记录表
        <span class="pull-right">
            <small>今天出勤人数: {{attendances.length}}</small>
        </span>
    </h1>

    <div class="row">
        <div class="col-lg-7">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>姓名</th>
                        <th>课时</th>
                        <th>内容</th>
                        <th>进程</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="attd in attendances">
                        <td>
                            <span class="time-used">+{{attd.student.time_used}}</span>
                        </td>
                        <td>
                            <a href="#/students/{{attd.student.id}}">{{attd.student.name}}</a>
                        </td>
                        <td>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default {{activeClass(attd.time, '上午')}}">
                                    <input type="radio" ng-model="attd.time" name="time" value="上午" ng-change="autoSave($index)" /> 上午
                                </label>
                                <label class="btn btn-default {{activeClass(attd.time, '下午')}}">
                                    <input type="radio" ng-model="attd.time" name="time" value="下午" ng-change="autoSave($index)" /> 下午
                                </label>
                                <label class="btn btn-default {{activeClass(attd.time, '全天')}}">
                                    <input type="radio" ng-model="attd.time" name="time" value="全天" ng-change="autoSave($index)" /> 全天
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default {{activeClass(attd.course_content, '素描')}}">
                                    <input type="radio" ng-model="attd.course_content" value="素描" ng-change="autoSave($index)" /> 素描
                                </label>
                                <label class="btn btn-default {{activeClass(attd.course_content, '色彩')}}">
                                    <input type="radio" ng-model="attd.course_content" value="色彩" ng-change="autoSave($index)"> 色彩
                                </label>
                            </div>
                        </td>
                        <td>{{attd.info}}</td>
                        <td>
                            <a class="btn" ng-click="rm($index)">
                                <span class="glyphicon glyphicon-minus-sign"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="student-chooser col-lg-5">
            <button ng-repeat="student in students | orderBy:'id':true" class="add-student-attd btn btn-success" ng-click="chooseStudent($index, this)" ladda>
                <span class="glyphicon glyphicon-plus-sign"></span>
                {{student.name}}</button>
        </div>
    </div>
</div>
