<div ng-controller="AttendanceCtrl" class="no-more-tables">
    <div class="row">
        <div class="col-lg-12">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-7">
            <h1>
                上课记录表<br/>
                <a class="btn btn-default" ng-click="prevDay()">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <small class="date">
                    {{date.format('L / dddd')}}
                </small>
                <a class="btn btn-default" id="choose-date">
                    <span class="glyphicon glyphicon-calendar"></span>
                </a>
                <a class="btn btn-default" ng-click="nextDay()">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </h1>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>姓名</th>
                        <th>课时</th>
                        <th>内容</th>
                        <th>进程</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="attd in attendances">
                        <td>
                            <span class="time-used">+{{attd.time_used_snap}}</span>
                        </td>
                        <td>
                            <a href="#/students/{{attd.student.id}}">{{attd.student.name}}</a>
                        </td>
                        <td>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default {{activeClass(attd.time, '上午', attd)}}" ng-class="{disabled:attd.frozen}">
                                    <input type="radio" ng-model="attd.time" name="time" value="上午" ng-change="autoSave($index)" /> 上午
                                </label>
                                <label class="btn btn-default {{activeClass(attd.time, '下午', attd)}}" ng-class="{disabled:attd.frozen}">
                                    <input type="radio" ng-model="attd.time" name="time" value="下午" ng-change="autoSave($index)" /> 下午
                                </label>
                                <label class="btn btn-default {{activeClass(attd.time, '全天', attd)}}" ng-class="{disabled:attd.frozen}">
                                    <input type="radio" ng-model="attd.time" name="time" value="全天" ng-change="autoSave($index)" /> 全天
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default {{activeClass(attd.course_content, '素描', attd)}}" ng-class="{disabled:attd.frozen}">
                                    <input type="radio" ng-model="attd.course_content" value="素描" ng-change="autoSave($index)" /> 素描
                                </label>
                                <label class="btn btn-default {{activeClass(attd.course_content, '色彩', attd)}}" ng-class="{disabled:attd.frozen}">
                                    <input type="radio" ng-model="attd.course_content" value="色彩" ng-change="autoSave($index)"> 色彩
                                </label>
                            </div>
                        </td>
                        <td>{{attd.info}}</td>
                        <td>
                            <a class="btn" ng-click="rm($index)" ng-hide="attd.frozen">
                                <span class="glyphicon glyphicon-minus-sign"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="student-chooser col-lg-5">
            <h1>
                <small>学员名单</small>
            </h1>

            <div ng-repeat="(letter, students) in studentsGroupByPinyin | orderBy:'letter'">
                <h2 class="pinyin-letter">{{letter}}</h2>
                <button ng-repeat="student in students | orderBy:'id':true" class="add-student-attd btn btn-info" ng-click="chooseStudent($index, this)" ladda>
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    {{student.name}}</button>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <h4>上课人数：{{attendances.length}}</h4>
    </div>
</div>
