<h1>修改学员</h1>
<form ng-submit="save()" class="form-horizontal">

    <div class="form-group">
        <label form="inputName" class="col-lg-2 control-label">姓名</label>
        <div class="col-lg-4">
            <input type="text" class="form-control" id="inputName" ng-model="student.name" required />
        </div>
    </div>

    <div class="form-group">
        <label form="inputAge" class="col-lg-2 control-label">年龄</label>
        <div class="col-lg-2">
            <input type="number" class="form-control" id="inputAge" ng-model="student.age" required />
        </div>
    </div>

    <div class="form-group">
        <label form="inputMobile" class="col-lg-2 control-label">手机</label>
        <div class="col-lg-4">
            <input type="mobile" class="form-control" id="inputMobile" ng-model="student.mobile" />
        </div>

        <label form="inputPhone" class="col-lg-2 control-label">电话</label>
        <div class="col-lg-4">
            <input type="mobile" class="form-control" id="inputPhone" ng-model="student.phone" />
        </div>
    </div>

    <div class="form-group">
        <label form="inputClass" class="col-lg-2 control-label">报名班级</label>
        <div class="col-lg-4">
            <div ng-repeat="class in classNames" class="radio">
                <label>
                    <input type="radio"
                        name="class"
                        ng-model="student.class"
                        value="{{class}}">
                        {{class}}
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label form="inputPurpose" class="col-lg-2 control-label">报名原因</label>
        <div class="col-lg-4">
            <div ng-repeat="class in purposes" class="radio">
                <label>
                    <input type="radio"
                        name="purpose"
                        ng-model="student.purpose"
                        value="{{class}}">
                        {{class}}
                </label>
            </div>
        </div>

        <label form="inputFrom" class="col-lg-2 control-label">从哪里得知？</label>
        <div class="col-lg-4">
            <div ng-repeat="from in froms" class="checkbox">
                <label>
                    <input type="checkbox"
                        name="froms[]"
                        value="{{from.name}}"

                        ng-checked="from.chcked"
                        ng-model="from.checked">
                        {{from.name}}
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button type="submit" class="btn btn-success">
                <span class="glyphicon glyphicon-ok"></span>
                保存</button>
            <a href="#students" class="btn btn-default">取消</a>
        </div>
    </div>
</form>
