<div ng-controller="CourseCtrl" class="row">

    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li><a href="#/students">学员</a></li>
            <li><a href="#/students/{{student.id}}">{{student.name}}</a></li>
            <li class="active">{{actionName}}</li>
        </ol>
    </div>

    <div class="col-lg-12" ng-show="student.course">
        <div class="lead">
            <h1 class="text-warning">{{student.name}} 还有未完成的课程:</h1>
            <span class="text-danger">{{student.course.months}}个月 {{student.course.name}},
                剩余 {{student.time_left}} 天课时，</span>
            如何处理剩余课时？
            <p>
                <div class="btn-group">
                    <button class="btn btn-lg btn-primary" ladda ng-model="clearing" ng-click="chooseClear()">
                        <span class="glyphicon glyphicon-refresh"></span>
                        清零
                    </button>
                    <button class="btn btn-lg btn-primary" ng-click="chooseContinue()">
                        <span class="glyphicon glyphicon-share-alt"></span>
                        续课
                    </button>
                </div>
            </p>
        </div>
    </div>

    <div class="col-lg-12" ng-hide="student.course">
        <form class="form-horizontal col-lg-6">
            <div class="form-group" ng-repeat="course in coursePresets" class="radio">

                <label class="col-lg-4 control-label">{{course.name}}</label>

                <div class="col-lg-8">
                    <span ng-repeat="preset in course.presets">
                        <input type="button" 
                            class="btn btn-default"
                            value="{{preset.months}} 个月"
                            ng-click="applyPreset(course.name, preset)"
                        />
                    </span>
                </div>

            </div>
        </form>

        <div class="col-lg-6">

            <div ng-show="continued">
                <h1>续课</h1>
            </div>

            <form ng-submit="save()" class="form-horizontal new-course-form">


                <div class="form-group">
                    <label class="col-lg-4 control-label">班级</label>
                    <div class="col-lg-5">
                        <input type="text" class="form-control" ng-model="course.name" required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 control-label">时长</label>
                    <div class="col-lg-5">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="course.months" required />
                            <span class="input-group-addon">个月</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 control-label">课时</label>
                    <div class="col-lg-5">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="course.time" required />
                            <span class="input-group-addon">天</span><br/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 control-label">学费</label>
                    <div class="col-lg-5">
                        <div class="input-group">
                            <span class="input-group-addon">￥</span>
                            <input type="text" class="form-control" ng-model="course.price" required />
                            <span class="input-group-addon">元</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4"></label>
                    <div class="col-lg-6">
                        <input type="submit" class="btn btn-success" value="提交" ladda />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
