<div ng-controller="StudentCtrl">
    <h1>
        <span class="glyphicon glyphicon-user"></span> 学员名单
        <a href="#/students/new" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-plus"></i> 新学员报名</a>
    </h1>

    <table class="table table-striped">
        <thead>
            <th></th>
            <th>姓名</th>
            <th>年龄</th>
            <th>电话</th>
            <th>班级</th>
            <th>总课时</th>
            <th>剩余课时</th>
            <th>进度</th>
        </thead>
        <tbody>
            <tr ng-repeat="student in students" ng-animate="'animate'" class="student" ng-click="gotoDetail(this)">
                <td class="time-used">
                    +{{student.course.time_used}}
                </td>
                <td>
                    <a href="#/students/{{student.id}}">{{student.name}}</a>
                </td>
                <td>{{student.age}}</td>
                <td>
                    <span ng-show="student.mobile">
                        <span class="glyphicon glyphicon-earphone"></span>
                        {{student.mobile}} </span><br/>
                    <span ng-show="student.phone">
                        <span class="glyphicon glyphicon-phone-alt"></span>
                        {{student.phone}}</span>
                </td>
                <td>
                    <span ng-hide="student.course">--</span>
                    {{student.course.name}} 
                </td>
                <td>{{student.course.time_total}}</td>
                <td>{{student.course.time_left}}</td>
                <td>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width:{{student.course.progress}}"></div>
                    </div>
                </td>
            </tr>
        </tbody>

    </table>

    <pagination total-items="studentCount" page="currentPage"></pagination>
</div>
