<div ng-controller="StudentDetailCtrl">

    <div>
        <ol class="breadcrumb">
            <li><a href="#/students">学员</a></li>
            <li class="active">"{{student.name}}"</li>
        </ol>
    </div>

    <section class="profile">
        <h1>{{student.name}}
            <span class="pull-right">
                <a class="btn btn-default" href="#/students/{{student.id}}/edit">
                    <span class="glyphicon glyphicon-edit"></span>
                    修改</a>

                <a class="btn btn-primary" href="#/students/{{student.id}}/courses/new">
                    <span class="glyphicon glyphicon-plus"></span>
                    加报课程</a>

                <a class="btn btn-danger" ng-show="student.time_left != 0" ng-click="clearTime()" ladda ng-model="clearing">
                    <span class="glyphicon glyphicon-refresh"></span>
                    课时清零</a>
            </span>
        </h1>
        <div class="row">
            <div class="col-md-4">
                <ul class="unstyled">
                    <li>{{student.age}}岁</li>
                    <li>{{student.mobile}} {{student.phone}}</li>
                    <li>为了： {{student.purpose}}</li>
                    <li>来自： {{student.from_list.join(",")}}</li>
                </ul>
            </div>

            <div class="col-md-8">
                <div class="col-md-10">
                    <table class="table">
                        <tr>
                            <td class="caption">报名班级</td>
                            <td>
                                <span ng-show="student.courses.length == 0">--</span>
                                <span ng-repeat="course in student.courses" class="course">
                                    {{course.name}} <small>({{course.registed_on}}报名)</small> 
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="caption">已用课时</td>
                            <td>
                                <div class="time-progress progress">
                                    <div class="progress-bar" role="progressbar" style="width:{{student.progress}}"></div>
                                </div>

                                <span>{{student.time_used}} / {{student.time_total}}</span> 
                                <a href="#/students/{{student.id}}/audits" ng-show="student.time_used > 0">查看课时记录</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="caption">剩余课时</td>
                            <td>{{student.time_left}}</td>
                        </tr>
                        <tr>
                            <td class="caption">创建日期</td>
                            <td>{{student.created_at | date}}</td>
                        </tr>
                        <tr>
                            <td class="caption">上课日期</td>
                            <td>{{student.course_begin_on}}</td>
                        </tr>
                        <tr>
                            <td class="caption">截至日期</td>
                            <td>{{student.need_finish_on}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <section class="comments">
        <h4>备注</h4>
        <article ng-repeat="comment in comments" class="comment">
            <div class="comment-icon comment-icon-{{comment.icon_type}}">
                <span class="glyphicon glyphicon-{{comment.icon_type}}"></span>
            </div>
                
            <div class="comment-body">
                <div class="text">
                    <p>{{comment.body}}
                        <span class="pull-right">
                            <a ng-click="rmComment($index)" href="">
                                <span class="glyphicon glyphicon-trash">
                            </a>
                        </span>
                    </p>
                </div>
                <p class="attribution">
                    {{comment.created_by}} / {{comment.created_at}}
                </p>
            </div>
        </article>

        <div class="new-comment">

            <div class="caption" ng-click="addComment()" ng-hide="addingComment">添加备注...</div>

            <form ng-show="addingComment" ng-submit="createComment()" role="form">
                <div class="form-group">
                    <textarea id="comment-body" class="form-control input-block-level" ng-model="newComment.body" rows="6"></textarea>
                </div>
                <div class="form-actions form-group">
                    <button type="submit" class="btn btn-success">提交</button>
                    <button type="button" class="btn btn-default" ng-click="addingComment=false">取消</button>
                </div>
            </form>
        </div>

    </section>


</div>
